
.rg-overlay .ruler {
  background-color: rgba(210,210,210, .6);
}

body .rg-overlay,
output {
  position: absolute;
  left: .4rem;
  top: 3.7rem;
}

@media screen and (max-width: 1050px){
  body .rg-overlay,
  output {
    top: 7rem;
  }
}

/*! Dynamically position the ruler!
*/
.rg-overlay .ruler.h,
.rg-overlay .ruler.v {
  left: var(--xx);
  top: var(--yy);
}

button,
::part(button),
::part(input) {
  font: inherit;
  padding: .37rem;
  /* margin-right: .3rem; */
}

output {
  border-radius: .05rem;
  outline: 2px solid red;
  outline-offset: 0;
}

output > div {
  line-height: 1.6;
  margin: 4rem;
  max-width: 44rem;
  position: relative;
  z-index: 99;
}

/*! Ensure the image is correctly sized and scaled.
 */
output img {
  aspect-ratio: var(--img-width) / var(--img-height);
  height: var(--dev-height);
  width: auto; /* var(--dev-width); */
}

.X.i::after,
.X.sep::after {
  content: '·';
  margin: 0 .3rem;
}

nav > i,
.js .no-js-message,
[data-image-loaded] upload-image-button {
  display: none;
}

sup {
  font-style: italic;
  font-weight: normal;
}

tt,
code {
  background: #eee;
  color: #222;
  border: 1px solid #ccc;
  font-size: larger;
  padding: .1rem .2rem;
}

nav {
  margin: .4rem 0;
}

nav > * {
  margin-right: .25rem;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: sans-serif;
  line-height: 1.1;
}

::part(a) {
  font-size: smaller;
}

*,
::part(a),
::part(button),
::part(input) {
  /* border-radius: .2rem; */
  outline-offset: .15rem;
  text-underline-offset: .25rem;
}

a:focus,
a:hover,
::part(a):focus,
::part(a):hover {
  text-decoration-thickness: 6px;
}

screen-size-selector::part(input) {
  /* max-width: 16rem; */
  padding: .37rem .1rem;
}

/* End. */
