
.X.rg-overlay {
  min-height: 1200px;
}

.rg-overlay .ruler {
  background-color: rgba(210,210,210, .6);
}

body .rg-overlay,
output {
  position: absolute;
  left: .5rem;
  top: 60px;
}

/*! Dynamically position the ruler!
*/
.rg-overlay .ruler.h,
.rg-overlay .ruler.v {
  left: var(--xx);
  top: var(--yy);
}

button,
input,
arrow-key-button::part(button),
paste-image-button::part(button),
screen-size-selector::part(select) {
  font: inherit;
}

button,
arrow-key-button::part(button),
paste-image-button::part(button),
screen-size-selector::part(select) {
  padding: .3rem .6rem;
  margin-right: .5rem;
}

output {
  border-radius: .05rem;
  outline: 2px solid red;
  outline-offset: 0;
}

output > div {
  line-height: 1.6;
  margin: 4rem;
  max-width: 40rem;
  position: relative;
  z-index: 99;
}

/*! Ensure the image is correctly sized and scaled.
 */
output img {
  aspect-ratio: var(--img-width) / var(--img-height);
  height: var(--dev-height);
  width: auto; /* var(--dev-width); */
}

sep::after {
  content: '·';
  margin: 0 .6rem;
}

.js .no-js-message,
[data-image-loaded] upload-image-button {
  display: none;
}

sup {
  font-style: italic;
  font-weight: normal;
}

tt {
  background: #eee;
  border: 1px solid #ccc;
  font-size: larger;
  padding: .1rem .2rem;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: sans-serif;
  line-height: 1.1;
}

* {
  border-radius: .2rem;
  outline-offset: .3rem;
  text-underline-offset: .25rem;
}

/* End. */
