
.dialog-open-button,
[ part *= dlgOpen ] {
  padding: .4rem;
  height: 2.3rem;
  width: 2.3rem;

  /* color: red; */
}

button svg {
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: -.2rem;
}

dialog {
  background-color: var(--bg-color);
  border: 2px solid navy;
  border-radius: .2rem;
  color: inherit;
  max-width: 38rem;
  X-min-height: 23rem;
  overflow-y: scroll;
}

dialog button {
  font: inherit;
  padding: .37rem 2rem;
}

dialog fieldset {
  border: 1px solid #999;
  line-height: 1.7rem;
  margin: 2rem 0;
}

dialog label {
  margin-right: .5rem;
  padding: .4rem 0;
}

dialog [ type = radio ] {
  height: 1rem;
  width: 1rem;
  vertical-align: -.1rem;
}
